# Xcode
## User settings
xcuserdata/

## Build products
build/
DerivedData/
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint

## Swift Package Manager
.build/
.swiftpm/

## App packaging
dist/

## macOS
.DS_Store
